.form {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 5px;

  &__inputs {
    height: 30px;
    border-radius: 8px;
    text-indent: 5px;
  }

  &__submit {
    height: 30px;
    border-radius: 8px;
  }
}
